:root {
  --primary-text: #354259;
  --secondary-text: #ece5c7;
  --primary-bg: #cdc2ae;
  --secondary-bg: #ece5c7;
  --header-bg: #354259;
  --accent: #c2ded1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-text);
  color: var(--secondary-text);
  height: 10%;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;  
}

header img {
  width: 5rem;
  height: auto;
}

aside {
  grid-template-rows: 1fr 3fr 1fr;
  background-color: var(--secondary-bg);
}

section {
  background-color: var(--primary-bg);
}

.content {
  display: grid;
  grid-template-rows: 25% 75%;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

#contactDiv {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

#contactDiv img{
  width: 1.5rem;
  height: 1.5rem;
}