:root {
  --primary-text: #354259;
  --secondary-text: #ece5c7;
  --primary-bg: #cdc2ae;
  --secondary-bg: #ece5c7;
  --header-bg: #354259;
  --accent: #c2ded1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#content {
  display: grid;
  grid-template-rows: 15% 85%;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-text);
  color: var(--secondary-text);
  padding: 20px;
  box-shadow: 0px 0px 6px 0px #354259;
  position: relative;
  z-index: 10;
}

h1 {
  font-size: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;  
}

header img {
  width: 5rem;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 15% 85%; 
}

aside {
  display: grid;
  grid-template-rows: 20% 65% 15%;
  background-color: var(--secondary-bg);
  box-shadow: 0px 0px 6px 0px #354259;
  position: relative;
  z-index: 5;
}

#viewDiv li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

#viewDiv p {
  margin: 0;
}

#viewDiv li :hover {
  cursor: pointer;
}

#viewDiv,
#projectsDiv {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--accent);
}

#projectsDiv {
  color: var(--primary-text);
  padding-left: 15px;
}

#viewDiv ul, 
#projectsDiv ul {
  list-style: none;
  color: var(--primary-text);
  font-size: 1.1rem;
}

#contactDiv {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 20px;
}

#contactDiv img {
  width: 1.5rem;
  height: 1.5rem;
}

section {
  background-color: var(--primary-bg);
}
