:root {
  --primary-text: #354259;
  --secondary-text: #ece5c7;
  --primary-bg: #cdc2ae;
  --secondary-bg: #ece5c7;
  --header-bg: #354259;
  --dark-50: #35425932;
  --accent: #c2ded1;
  --danger: #ff0000;
  --danger-50: #ff000032;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 12pt;
}

#content {
  display: grid;
  grid-template-rows: 1fr 7fr;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-text);
  color: var(--secondary-text);
  padding: 0px 50px 0px 50px;
  box-shadow: 0px 0px 6px 0px var(--header-bg);
  position: relative;
  z-index: 10;
}

h1 {
  font-size: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap:  20px;  
}

header img {
  width: 4rem;
}

.container {
  display: grid;
  grid-template-columns: 15% 85%; 
}

aside {
  display: grid;
  grid-template-rows: 20% 65% 15%;
  background-color: var(--secondary-bg);
  box-shadow: 0px 0px 6px 0px var(--header-bg);
  position: relative;
  z-index: 5;
}

#viewDiv li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

#viewDiv p {
  margin: 0;
}

#viewDiv li :hover,
.projects li:hover {
  cursor: pointer;
}

#viewDiv,
#projectsDiv {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--accent);
}

#projectsDiv {
  color: var(--primary-text);
  padding-left: 15px;
}

#viewDiv ul, 
#projectsDiv ul {
  list-style: none;
  color: var(--primary-text);
  font-size: 1.1rem;
}

#contactDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logosDiv {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 20px;
  padding-bottom: 30px;
}

#logosDiv img {
  width: 1.5rem;
  height: 1.5rem;
}

#deleteBtn {
  background-color: var(--danger-50);
  color: var(--secondary-text);
  width: 80%;
  height: 2rem;
}

#deleteBtn:hover {
  background-color: var(--danger);
}

section {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
}

#sectionHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-50);
}

#titleDiv {
  color: var(--primary-text);
  font-size: 3rem;
  padding-left: 20px;
}

#projectAdd-Btn,
#taskAdd-Btn {
  width: 8rem;
  margin: 20px;
}

button:hover {
  box-shadow: 0px 0px 5px 2px var(--dark-50);
  cursor: pointer;
}

h3 {
  margin: 0;
  padding: 5px;
  color: var(--primary-text);
  text-align: center;
}

.modalDiv {
  display: block;
  position: absolute;
  z-index: 50;
  left: 45%;
  top: 30%;
  width: 30%;
  min-height: 20%;
  background-color: var(--secondary-bg);
  border-width: 1px;
  border-style: solid;
  border-color: var(--accent);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px var(--header-bg);
}

.modalHeader {
  height: 30px;
  background-color: var(--accent);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-width: 1px;
  border-bottom-color: var(--dark-50);
  border-bottom-style: solid;
}

.modalBody {
  color: var(--primary-text);
  padding: 20px 10px 20px 10px;
}

#projectForm {
  display: flex;
  align-items: center;
  gap: 10px;
}

#taskForm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

#taskForm :nth-child(3) {
  display: flex;
  justify-content: space-between;
}

#taskForm :nth-child(3) div{
  width: 110px;
}

#taskForm :nth-child(3) div+div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#taskForm :nth-child(4) {
  display: flex;
  flex-direction: column;
}

.modalBody input,
select,
textarea,
option {
  color: var(--primary-text);
  text-align: left;
  width: 100%;
  border: none;
  border-radius: 3px;
  min-height: 1.5rem;
  box-shadow: 0px 0px 5px 0px var(--accent) inset;
}

.modalBody input:focus {
  border-radius: 3px;
  border-color: var(--primary-text);
  border-style: solid;
  border-width: 1px;
}

.modalFooter {
  display: flex;
  justify-content: center;
  gap: 25%;
  padding: 20px 0 20px 10px;
}

button {
  color: var(--primary-text);
  font-size: 12pt;
  background-color: var(--accent);
  width: 5rem;
  height: 1.8rem;
  border-radius: 3px;
  border-color: var(--dark-50);
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 0px 1px 0px var(--header-bg);
}

button:active {
  transform: scale(0.97);
}

#sectionBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 5%;
}

.taskDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: var(--primary-text);
  width: 40%;
  border-radius: 8px;
  padding: 10px;
}

.taskDiv h3 {
  color: var(--primary-text);
}